ul{
   list-style-type: none;
}
li{
   display: inline;
   margin: 8px;
}

a{
   text-decoration: none;
   padding: 10px;
   background-color: rgba(0, 0, 255, 0.278);
}
@keyframes miAnimacion {
   from{
      top: var(--posi-inicial);
      background-color: blueviolet;
   }
   to{
      top: 0px;
      background-color: var(--my-colorFondo);
   }
}
img{
   width: 25%;
}
img:hover{
   animation-name: imgs;
   animation-duration: 3s;
}
@keyframes section {
   from{
      top:var(--posi-inicial);
      left:var(--posi-inicial);
   }
   to{
      top:150px;
      left:0px;
   }
}
section{
   position: absolute;
   top:150px;
      left:0px;
   display: flex;
   justify-content: center;
   animation-name: section;
   animation-duration: 15s;
}
@keyframes  imgs{
   from{
      width: 35%;
   }
   to{
      width: 25%;
   }
}
/*Definimos la variable  */
:root{
   --my-colorFondo:rgba(255, 0, 0, 0.349);
   --posi-inicial:1000px;
}
h1{
   position: relative;
   width: 20%;
   animation-name: miAnimacion;
   animation-duration: 10s; 
   /* Usamos la variable */
   background-color: var(--my-colorFondo);
}
 ul li a:hover{
   animation-name: menu;
   animation-duration: 3s;
}
@keyframes menu {
   from{
      display: inline;
      margin: 8px;
      background-color: black;
      color: white;
      box-shadow: 4px 5px 8px black;
   }
}
@keyframes otraManera {
   0%{background-color: blue;}
   25%{background-color: yellowgreen;}
   50%{background-color: orange;}
   100%{background-color: beige;}
}
a:hover{
   animation-name: otraManera;
   animation-duration: 13s;
   animation-iteration-count: infinite;
}

